@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --main-darklg: #1d2635;
  --main-dark: #161d29;
  --primary-color: #2f80ec;
  --main-light: #eeeeee;
  font-family: "Raleway", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Raleway", sans-serif;
}
body#home,
body#account {
  height: 100%;
  background: #424242;
}
.header {
  height: 8vh;
  position: relative;
  width: 100%;
  display: inline-grid;
  grid-template-columns: 40% 60%;
  justify-content: center;
  align-items: center;
  background: #303030;
}

input {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  border-radius: 10px;
  padding-left: 20px;
  border: none;
}

.logo > h3 {
  color: var(--main-light);
}

.main {
  overflow: hidden;
  height: 90vh;
  display: flex;
}

.main__left {
  flex: 0.7;
  display: flex;
  flex-direction: column;
}

.videos__group {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: var(--main-dark);
}
video {
  height: 300px;
  border-radius: 1rem;
  margin: 0.5rem;
  width: 400px;
  object-fit: cover;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}
.conf-video {
  height: 550px;
  border-radius: 1rem;
  width: 800px;
  object-fit: cover;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}

.options {
  padding: 1rem;
  display: flex;
  background-color: var(--main-darklg);
}

.options__left {
  display: flex;
}

.options__right {
  margin-left: auto;
}

.options__button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  height: 50px;
  border-radius: 5px;
  color: var(--main-light);
  font-size: 1.2rem;
  width: 50px;
  margin: 0 0.5rem;
}

.background__red {
  background-color: #f6484a;
}

.main__right {
  display: flex;
  flex-direction: column;
  flex: 0.3;
  background-color: #242f41;
}

.main__chat_window {
  flex-grow: 1;
  overflow-y: scroll;
}

.main__chat_window::-webkit-scrollbar {
  display: none;
}

.main__message_container {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main__message_container > input {
  height: 50px;
  flex: 1;
  font-size: 1rem;
  border-radius: 5px;
  padding-left: 20px;
  border: none;
}

.messages {
  display: flex;
  flex-direction: column;
  margin: 1.5rem;
}

.message {
  display: flex;
  flex-direction: column;
}

.message > b {
  color: #eeeeee;
  display: flex;
  align-items: center;
  text-transform: capitalize;
}

.message > b > i {
  margin-right: 0.7rem;
  font-size: 1.5rem;
}

.message > span {
  background-color: #eeeeee;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 5px;
}

#video-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.conf-grid {
  width: 100%;
  height: 100%;
}
#showChat {
  display: none;
}

.header__back {
  display: none;
  position: absolute;
  font-size: 1.3rem;
  top: 17px;
  left: 28px;
  color: #fff;
}

@media (max-width: 700px) {
  .main__right {
    display: none;
  }
  .main__left {
    width: 100%;
    flex: 1;
  }

  video {
    height: auto;
    width: 100%;
  }

  #showChat {
    display: flex;
  }
}

.main-header {
  height: 10vh;
  margin: 0;
  width: 100%;
  display: inline-grid;
  grid-template-columns: 40% 60%;
  justify-content: center;
  align-items: center;
  background: #303030;
}
.logo-txt {
  font-family: "Raleway", sans-serif;
  color: #ffffff;
  transition: .5s;
}
.bold-h1 {
  font-weight: 700;
  font-size: 20px;
}
.thin-h1 {
  font-weight: 300;
  font-size: 20px;
}
.bold-h1.confa-h1,
.thin-h1.confa-h1 {
  font-size: 16px;
}
.logo {
  margin-right: 10px;
  height: 100%;
  overflow: visible;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img {
  width: 100%;
  height: 100%;
  max-height: 9vh;
  object-fit: scale-down;
}
.logo.confa-logo img {
  max-height: 6vh;
}
.logo > img {
  animation: logo-anim-out 1s forwards;
}
.logo:hover > img {
  cursor: pointer;
  animation: logo-anim-in 1s forwards;
}
@keyframes logo-anim-in {
  0% {
    filter: brightness(0.9);
  }
  50% {
    filter: brightness(0.7);
  }
  100% {
    transform: scale3d(-1.1, 1.1, 1.1);
    filter: brightness(0.7);
  }
}
@keyframes logo-anim-out {
  0% {
    transform: scale3d(-1.1, 1.1, 1.1);
    filter: brightness(0.7);
  }
  50% {
    filter: brightness(0.7);
  }
  100% {
    filter: brightness(0.9);
  }
}
.header-30,
.header-40 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.header-30 {
  justify-content: center;
}
.header-40 {
  justify-content: start;
}

/* MENU */
.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.menu * {
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.menu li {
  display: inline-block;
  list-style: outside none none;
  margin: 0 1.5em;
  overflow: hidden;
}
.menu li a {
  font-size: 14px;
  font-weight: 800;
  text-decoration: none;
  padding: 0.3em 0;
  color: rgba(255, 255, 255, 1);
  position: relative;
  display: inline-block;
  letter-spacing: 1px;
  margin: 0;
}
.menu li a:before,
.menu li a:after {
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.menu li a:before {
  top: 100%;
  display: block;
  height: 3px;
  width: 100%;
  content: "";
  background-color: #ff6633;
}
.menu li a:after {
  padding: 0.3em 0;
  position: absolute;
  top: 100%;
  left: 0;
  content: attr(data-hover);
  color: rgba(255, 255, 255, 0.8);
  white-space: nowrap;
}
.menu li:hover a,
.menu li.current a {
  transform: translateY(-100%);
  cursor: pointer;
}
.simulator-container {
  height: 100%;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-left: 50px;
}
.simulator-btn {
  font-family: "Raleway", sans-serif;
  color: #ffffff;
  background-image: linear-gradient(to right, #ff6633, #ffc599, #c9722e);
  background-size: 400% 100%;
  animation: simulator-anim 10s ease-in-out infinite .5s;
  padding: 15px;
  border: none;
  border-radius: 10px;
  transition: 0.5s;
}
@keyframes simulator-anim {
  0% {
    background-position: 0 0;
  }
  25% {
    background-position: 100% 0;
  }
  50% {
    background-position: 0 0;
  }
  75% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.simulator-container:hover > .simulator-btn {
  transform: rotateX(360deg);
  cursor: pointer;
}
.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}
.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#menu-toggle {
  display: none;
}
.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}
.menu-button::before {
  content: '';
  margin-top: -8px;
}
.menu-button::after {
  content: '';
  margin-top: 8px;
}
#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0;
  transform: rotate(405deg);
}
#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}
#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0;
  transform: rotate(-405deg);
}
@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}
.section-container {
  width: 100%;
  height: 100%;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.team-container {
  width: 80%;
  display: inline-grid;
  grid-template-columns: 40% 55%;
  gap: 5%;
}
.team,
.about {
  width: 100%;
  height: 100%;
}
.team {
  height: 100%;
  display: inline-grid;
  grid-template-columns: 45% 45%;
  gap: 10%;
  justify-content: space-evenly;
  align-items: center;
}
.about {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}
.coach-1,
.coach-2 {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.coach-1 img,
.coach-2 img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.team-txt {
  height: 15%;
  background: rgba(48, 48, 48, 0.5);
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border-radius: 10px;
  position: absolute;
  top: 85%;
  left: 0;
  overflow: hidden;
  transition: all .5s;
}
.team-txt h3 {
  text-align: center;
  margin-bottom: 15px;
  color: #ffffff;
}
.team-txt p {
  font-size: 14px;
  text-align: justify;
  color: #ffffff;
}
.rounded-line {
  width: 25%;
  height: 5px;
  min-height: 5px;
  background: #ffffff;
  margin-bottom: 5px;
  border: none;
  border-radius: 20px;
}
.team-txt-hover {
  top: 80%;
  height: 20%;
  background: rgba(48, 48, 48, 0.8);
  cursor: pointer;
}
.team-txt-active {
  top: 50%;
  height: 50%;
  background: rgba(0, 0, 0, 0.9);
}
.circle {
  border: none;
  background: #ff6633;
  color: #ffffff;
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
.flexible {
  display: inline-grid;
  grid-template-columns: 10% 90%;
  align-items: center;
  padding: 0 20px;
}
.flexible i {
  font-size: 22px;
}
.about-btns {
  display: flex;
  justify-content: center;
}
.section-title {
  width: 80%;
  height: auto;
  display: flex;
  justify-content: start;
  margin-bottom: 20px;
}
.section-title h2 {
  color: rgba(255, 255, 255, 0.3);
}
.materials {
  width: 80%;
  height: 200px;
  display: inline-grid;
  grid-template-columns: 30% 30% 30%;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.m-layout {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 20px 10px;
  border-radius: 20px 20px 0 0;
  background: rgba(255, 102, 51, 0.3);
  transition: all .5s;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 100;
  -webkit-box-shadow: 0px -10px 5px -5px rgba(0, 0, 0, 0.5) inset;
  -moz-box-shadow: 0px -10px 5px -5px rgba(0, 0, 0, 0.5) inset;
  box-shadow: 0px -10px 5px -5px rgba(0, 0, 0, 0.5) inset;
}
.m-layout h2 {
  color: #ffffff;
}
.m-layout-hover {
  background: rgba(255, 102, 51, 0.8);
  cursor: pointer;
  height: 120%;
  top: -20%;
  -webkit-box-shadow: 0px -10px 5px -7px rgba(0, 0, 0, 0.5) inset;
  -moz-box-shadow: 0px -10px 5px -7px rgba(0, 0, 0, 0.5) inset;
  box-shadow: 0px -10px 5px -7px rgba(0, 0, 0, 0.5) inset;
}
.m-layout-active {
  background: rgba(255, 102, 51, 1);
  height: 250%;
  top: -150%;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.m-container {
  height: 100%;
  position: relative;
}
.hidden-x {
  opacity: 0;
  color: #ffffff;
  font-size: 24px;
  position: absolute;
  top: 20px;
  right: 20px;
  transition: all .3s;
}
.hidden-x-auth {
  color: #303030;
  font-size: 24px;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 6000;
  transition: .3s;
}
.hidden-x:hover,
.hidden-x-auth:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.m-layout-active > .hidden-x {
  opacity: 1;
}
.circle {
  animation: logo-anim-out 1s forwards;
}
.circle:hover {
  animation: logo-anim-in 1s forwards;
}
.books-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
}
.book {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  width: 100%;
  height: 100%;
}
.book-txt {
  display: inline-grid;
  width: 100%;
  grid-template-columns: 10% 90%;
  margin: 10px 0 0 20px;
}
.books-container .book .book-img {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.books-container .book .book-img img {
  width: 150px;
  height: auto;
  object-fit: scale-down;
  filter: brightness(0.5);
  -webkit-box-shadow: 5px -5px 10px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 5px -5px 10px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 5px -5px 10px 3px rgba(0, 0, 0, 0.3);
  transition: all 1s;
}
.books-container .book h4,
.theme-elem h3,
.theme-elem p,
.theme-elem i {
  text-align: center;
  margin-top: 20px;
}
.m-layout-active > .books-container .book .book-img img,
.m-layout-active > .books-container .book .youtube-elem,
.m-layout-active > .books-container .theme .theme-elem {
  filter: brightness(1);
}
.youtube-container {
  padding-top: 20px;
}
.youtube-elem {
  width: auto;
  height: 100%;
  filter: brightness(0.5);
  -webkit-box-shadow: 5px -5px 10px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 5px -5px 10px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 5px -5px 10px 3px rgba(0, 0, 0, 0.3);
  transition: 1s;
}
.theme {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100%;
  height: 100%;
  padding-top: 20px;
}
.theme-elem {
  width: 80%;
  height: 370px;
  background: #D6D6D6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  filter: brightness(0.5);
  transition: 1s;
  -webkit-box-shadow: 5px -5px 10px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 5px -5px 10px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 5px -5px 10px 3px rgba(0, 0, 0, 0.3);
}
.theme-img {
  width: 30%;
  height: auto;
}
.theme-elem a i {
  font-size: 28px;
  color: #000;
  transition: .5s;
}
.theme-elem a:hover > i {
  color: #ff6633;
}
.reviews {
  width: 80%;
  height: 100%;
  display: inline-grid;
  grid-template-columns: 50% 50%;
  justify-content: space-between;
  align-items: center;
}
.r-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}
.review {
  width: 90%;
  height: 300px;
  background: #D6D6D6;
  padding: 5%;
  border-radius: 20px;
}
.form-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: end;
}
.callback-form {
  width: 80%;
  height: 90%;
  border-radius: 20px;
  background-color: #fcaf86;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-title.form-title {
  width: 100%;
  justify-content: center;
  color: #303030;
}
.section-title.form-title h2 {
  color: #404040;
}
.call-select,
.call-input,
.call-textarea {
  width: 80%;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  padding-left: 20px;
  font-family: "Raleway", sans-serif;
  background-color: rgba(255, 255, 255, 0.5);
  transition: all .3s;
}
.call-input::placeholder,
.call-input::-webkit-input-placeholder,
.call-textarea::placeholder,
.call-textarea::-webkit-input-placeholder {
  color: #000000;
  opacity: 1;
}
.call-select,
.call-input {
  height: 40px;
}
.call-textarea {
  height: 80px;
  padding-top: 20px;
  resize: none;
}
.call-select:active,
.call-input:active,
.call-textarea:active,
.call-select:focus,
.call-input:focus,
.call-textarea:focus {
  background-color: #ffffff;
}
.form-btn {
  width: 25%;
  height: 50px;
  margin: 0;
  border: none;
  border-radius: 5px 5px 0 0;
  background-color: #F63;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  color: #ffffff;
  transition: .5s;
  padding: 0;
}
.form-btn:hover {
  background-color: #303030;
  cursor: pointer;
}
.form-btn:active {
  background-color: #909090;
}
.home-footer {
  margin: 0;
  width: 100%;
  background-color: #303030;
  display: inline-grid;
  grid-template-columns: 25% 25% 25%;
  justify-content: center;
  align-items: stretch;
}
.footer-column {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 20px 0;
}
.icons-container {
  display: flex;
  margin-bottom: 20px;
}
.footer-column h3,
.footer-column p,
.icons-container i,
.footer-column a {
  color: #ffffff;
  transition: .3s;
}
.footer-column p,
.footer-column a {
  margin-bottom: 10px;
}
.footer-column a:link {
  text-decoration: none;
}
.footer-column h3 {
  margin-bottom: 20px;
}
.icons-container i {
  font-size: 30px;
  margin-right: 10px;
  transition: .3s;
}
.icons-container i:hover,
.footer-column a:hover {
  color: #ff6633;
  cursor: pointer;
}
.auth-back {
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1000;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  position: absolute;
  top: 0;
  left: 0;
}
.auth-container {
  width: 60%;
  height: 60%;
  background-color: #ffffff;
  display: inline-grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  align-items: center;
  z-index: 5000;
  position: relative;
  overflow: hidden;
}
.login-btn-container {
  height: 100%;
  width: auto;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-left: 100px;
  position: relative;
  display: inline-block;
}
.dropbtn {
  height: 100%;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 800;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  letter-spacing: 1px;
  margin: 0;
  background: none;
  border: none;
  transition: .3s;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a,
.dropdown-content input {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 14px;
  font-weight: 800;
  width: 100%;
  border-radius: 0;
  text-align: start;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover,
.dropdown-content input:hover {
  background-color: #ddd;
  cursor: pointer;
}
/* Show the dropdown menu on hover */
.login-btn-container:hover .dropdown-content {
  display: block;
}
/* Change the background color of the dropdown button when the dropdown content is shown */
.login-btn-container:hover .dropbtn {
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
.auth-form-container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.register-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 15%;
}
.reg-form-input {
  width: 100%;
  height: 45px;
  background-color: transparent;
  margin: 10px 0;
  border: 1px solid #F63;
}
.from-register {
  display: flex;
  height: 90vh;
  top: 10vh;
  background: #424242;
}
.reg-form-btn {
  width: 50%;
  height: 45px;
  padding: 0;
  background: linear-gradient(45deg, #ffbc47, #ff6633);
  color: #ffffff;
  font-weight: 800;
  transition: all .5s;
  margin: 10px 0;
}
.reg-form-btn:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.checkbox-label {
  font-size: 10px;
  margin-bottom: 10px;
}
.checkbox-label a {
  color: #ff6633;
}
.auth-80 {
  height: 70%;
}
.orange-border {
  border-right: 1px solid #ff6633;
}
.login-form {
  background: rgba(255, 102, 51, 0.1);
}
.logo-txt:hover {
  filter: brightness(0.7);
  cursor: pointer;
}
.acc-back {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
.account-container {
  width: 80%;
  height: 100%;
  background-color: #ffffff;
  display: inline-grid;
  grid-template-columns: 70% 30%;
  justify-content: center;
  align-items: start;
  z-index: 5000;
  padding: 5%;
}
.account-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.acc-label {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.acc-form-input {
  width: 100%;
  height: 45px;
  background-color: transparent;
  margin: 10px 0;
  border: 1px solid #F63;
}
.credits-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}
.credits-container h3 {
  margin-bottom: 20px;
}
.acc-credits-input {
  width: 100%;
  height: 90px;
  background-color: transparent;
  margin: 10px 0;
  text-align: center;
  padding: 0;
  font-size: 30px;
  font-weight: 800;
}
.acc-credits-input.top-up {
  border: 1px solid #F63;
}
.acc-credits-input::-webkit-outer-spin-button,
.acc-credits-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.plus-minus-container {
  width: 100%;
  height: 90px;
  display: inline-grid;
  grid-template-columns: 40% 40%;
  gap: 10%;
  justify-content: center;
  align-items: center;
}
.plus-minus-section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.plus-minus-btn {
  width: 60px;
  height: 60px;
  background: linear-gradient(45deg, #ffbc47, #ff6633);
  border-radius: 100%;
  padding: 0;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  color: #ffffff;
  transition: .5s;
}
.plus-minus-btn:hover,
.fixed-top-up:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.top-up-btns {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
  justify-content: space-evenly;
}
.fixed-top-up {
  background: linear-gradient(45deg, #ffbc47, #ff6633);
  padding: 10px 30px;
  margin-bottom: 10px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  transition: .5s;
}
.top-up-head {
  margin-top: 20px;
  border-top: 5px solid #ff6633;
  padding-top: 20px;
}
.users-list {
  background: #303030;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: start;
  padding: 1em;
  height: 50%;
  min-height: 50%;
  position: relative;
}
.user-container {
  width: 100%;
  display: inline-grid;
  grid-template-columns: 10% 90%;
  margin-bottom: 10px;
}
.user-container:hover {
  cursor: pointer;
  filter: brightness(0.8);
}
.name-online {
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  height: auto;
}
.online-header {
  font-size: 48px;
  color: rgba(255, 255, 255, 0.1);
  font-weight: 800;
  position: absolute;
  top: 25%;
  right: -20%;
  transform: rotate(90deg);
}